// fonts
$primary-font: "Lato", "Verdana", sans-serif;
$secondary-font: "Oswald", "Tahoma", sans-serif;

// device widths
$tablet-width: 768px;
$desktop-width: 1440px;

// container widths
$container-mobile: 280px;
$container-tablet: 708px;
$container-desktop: 1220px;

// outline
$outline-primary: 2px solid #000000;

// colors
$main-color: #68b738;
// bg colors
$bg-color-primary: #ffffff;
$bg-color-secondary: #f2f2f2;
$bg-color-special: #eaeaea;
$bg-color-promo: #3e3d41;
// text colors
$text-color-primary: #444444;
$text-color-secondary: #000000;
$text-color-contrast: #ffffff;
$text-color-special: #111111;
// border colors
$border-color-primary: #cdcdcd;
$border-color-secondary: #d9d9d9;
$border-color-divider: #e6e6e6;
$border-color-special: #e7e7e7;

// block specific variables
// button
$button-bg: $main-color;
$button-bg-hover: #5eaa2f;
$secondary-button-bg: #f2f2f2;
$secondary-button-bg-hover: #ebebeb;
// nav
$nav-toggle-color: #000000;
// promo
$promo-bg-height: 302px;
// features
$features-counter-color: #f2f2f2;
// demo-slider
$slider-control-outline: #666666;
$slider-control-bg: $bg-color-primary;
// footer
$logo-fill: #111111;
$logo-fill-hover: #3e3e3e;
$logo-fill-active: #6b6b6b;
$credits-logo-fill: #666666;
// socials
$socials-link-outline: #666666;
// product-card
$card-top-offset: 81px;
$card-text-color: #222222;
$card-decor: #d3d3d3;
$card-border: #ebebeb;
$more-card-border: $secondary-button-bg;
// form
$input-border: #e7e7e7;
$input-border-hover: #cdcdcd;
$input-border-focus: #444444;
$input-error: #ff8282;
$input-icon: #000000;
// form-control
$control-border: #cdcdcd;
$control-border-hover: #bababa;
