// colors
$main-color: #68B738;
$bg-color-basic: #F2F2F2;
$bg-color-extra: #EAEAEA;
$text-color: #444444;
$text-color-extra: #000000;
$text-color-special: #222222;
$text-color-contrast: #FFFFFF;

// fonts
$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;
