// colors
$main-color: #68b738;
$bg-color-basic: #f2f2f2;
$bg-color-extra: #eaeaea;
$text-color: #444444;
$text-color-extra: #000000;
$text-color-special: #222222;
$text-color-contrast: #ffffff;

// fonts
$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;
