.button {
  display: inline-block;
  padding: 10px 22px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-contrast;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $main-color;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }

  &--secondary {
    color: $text-color-primary;
    background-color: $bg-color-secondary;
  }
}
