.button {
  @include basic-transition(background-color, color);
  display: inline-block;
  padding: 10px 22px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-contrast;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $button-bg;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $button-bg-hover;
  }

  &:active {
    color: rgba($text-color-contrast, 0.3);
  }

  &:focus-visible {
    outline: $outline-primary;
  }

  &:disabled,
  &--disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }

  &--secondary {
    color: $text-color-primary;
    background-color: $secondary-button-bg;

    &:hover {
      background-color: $secondary-button-bg-hover;
    }

    &:active {
      color: $text-color-primary;
    }
  }
}
