.extra-card {
  display: flex;
  flex-direction: column;
  padding: 13px 0 18px;
  border-bottom: 1px solid $border-color-primary;

  &:first-of-type {
    margin-bottom: -1px; // pixel perfect
    border-top: 1px solid $border-color-primary;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 23px;
    padding: 27px 37px;
    border-left: 1px solid $border-color-primary;
    border-right: 1px solid $border-color-primary;

    &:first-of-type {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 285px 244px;
    gap: 40px;
    align-items: center;
    padding: 15px 0 16px;
    border-left: none;
    border-right: none;
  }
}

.extra-card__title {
  margin: 0;
  margin-bottom: 13px;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $card-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
  }
}

.extra-card__stats {
  display: grid;
  grid-template-columns: auto 60px;
  justify-content: space-between;
  gap: 32px;
  margin: 0;
  margin-bottom: 15px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    margin-right: 2px; // pixel perfect
    margin-bottom: 0;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }

  dd {
    text-align: right;
    margin: 0;
  }
}

.extra-card__button {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    padding: 10px 26px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: -2 / -1;
  }
}
