.features__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: $text-color-extra;
}

.features__list {
  @include list-reset;
}

.features__desc {
  margin: 0;
}

