.header {
  position: relative;
  font-family: $secondary-font;
  color: $text-color-secondary;
}

.header__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;

  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding: 25px 0;
    padding-right: 4px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0 29px;
  }
}

.header__logo {
  flex-shrink: 0;

  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 56px;

  text-decoration: none;

  @media (min-width: $tablet-width) {
    gap: 13px;
  }

  @media (min-width: $desktop-width) {
    gap: 14px;
  }
}

.header__logo-icon,
.header__logo-text {
  display: block;
}
