.location {
  position: relative;
  background-color: $bg-color-primary;

  &--inner-page {
    background-color: $bg-color-secondary;
  }
}

.location__wrapper {
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    padding: 60px 0;
    width: 565px;
    background-color: $bg-color-primary;
  }
}

.location__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-special;
  text-transform: uppercase;
}

.location__address {
  line-height: 20px;
  font-style: normal;

  p {
    margin: 0;
  }
}

.location__map {
  display: block;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
