.nav {
  &--closed .nav__list {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  &--opened .nav__list {
    display: flex;
  }
}

.nav--no-js {
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    grid-column: auto;
  }

  .nav__list {
    position: relative;
    left: unset;
    bottom: -14px;
    transform: none;
    display: flex;
    width: 100%;

    @media (min-width: $tablet-width) {
      bottom: 0;
    }
  }

  .nav__item:last-of-type {
    border-bottom: none;
  }

  .nav__toggle {
    display: none;
  }
}

.nav__list {
  @include list-reset;
  z-index: 1;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50vw, 100%);
  display: none;
  flex-direction: column;
  width: 100vw;
  background-color: $bg-color-primary;

  @media (min-width: $tablet-width) {
    position: static;
    transform: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    column-gap: 33px;
    padding-top: 6px;
    width: auto;
    background-color: unset;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

.nav__toggle {
  @include basic-transition(opacity, transform);
  position: relative;
  display: block;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: unset;
  background-image: linear-gradient($nav-toggle-color, $nav-toggle-color);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    display: block;
    width: 100%;
    height: 2px;

    background-color: $nav-toggle-color;
    transition: 0.2s ease-in;
  }

  &::before {
    top: 3px;
  }

  &::after {
    bottom: 3px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: $outline-primary;
    outline-offset: 2px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav--opened .nav__toggle {
  background-size: 0% 2px;

  &::before {
    top: 11px;
    transform: rotate(46.64deg);
  }

  &::after {
    bottom: 11px;
    transform: rotate(-46.64deg);
  }
}

.nav__item {
  border-top: 1px solid $border-color-divider;

  &:last-of-type {
    border-bottom: 1px solid $border-color-divider;
  }

  @media (min-width: $tablet-width) {
    max-width: 170px;
    border: none;

    &:last-of-type {
      border: none;
    }
  }
}

.nav__link {
  @include basic-transition(opacity);
  display: block;
  padding: 22px 20px 23px;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: $text-color-secondary;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: $outline-primary;
  }

  @media (min-width: $tablet-width) {
    padding: 8px 0;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 6px 0;
    font-size: 20px;
    line-height: 30px;
    color: $text-color-contrast;
  }

  &--current {
    pointer-events: none;

    @media (min-width: $tablet-width) {
      border-bottom: 2px solid $main-color;
    }

    @media (min-width: $desktop-width) {
      border-color: currentColor;
    }
  }
}

.nav__list--inner .nav__link {
  @media (min-width: $desktop-width) {
    color: $text-color-secondary;

    &--current {
      border-color: $main-color;
    }
  }
}
