.plan__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $text-color-extra;
}

.plan__text {
  margin: 0;
  font-family: $secondary-font;
  color: $text-color-extra;
  text-transform: uppercase;
}

.plan__group {
  margin: 0;
  padding: 0;
  border: none;
}

.plan__label {
  font-family: $secondary-font;
  font-size: 16px;
  text-transform: uppercase;
}

.plan__input {
  padding: 13px 14px 12px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  color: $text-color;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
}

.plan__list {
  @include list-reset;
}

.plan__item {
  font-family: $secondary-font;
  text-transform: uppercase;
}

.plan__group-title {
  padding: 0;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 26px;
}

.plan__notice {
  font-size: 14px;
  line-height: 16px;
  color: $text-color-extra;
}
