.products__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $text-color-secondary;
}

.products__list {
  @include list-reset;
}
