.product-card__title {
  margin: 0;
  font-family: $secondary-font;
  line-height: 20px;
  color: $text-color-cards;
  text-transform: uppercase;
}

.product-card__stats {
  font-size: 12px;
  line-height: 16px;
}

.product-card__stats-item {
  dd {
    margin: 0;
  }
}

.product-card__text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}
