.promo {
  position: relative;
  padding-top: 27px;
  padding-bottom: 20px;
  font-family: $secondary-font;
  color: $text-color-contrast;
  text-align: center;
  background-image: linear-gradient(rgba($main-color, 0.85) $promo-bg-height, transparent $promo-bg-height);
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: $promo-bg-height;
    background-color: $bg-color-promo;
    background-image: image-set(url("../../images/promo-bg-mobile@1x.jpg") 1x, url("../../images/promo-bg-mobile@2x.jpg") 2x);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-width: $tablet-width) {
      background-color: unset;
      background-image: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 15px;
    color: $text-color-secondary;
    text-align: left;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 40px;
  }
}

.promo__container {
  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 780px;
    padding-left: 90px;
  }

  @media (min-width: $desktop-width) {
    min-height: 430px;
    padding-left: 80px;
  }
}

.promo__title {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    max-width: 420px;
  }
}

.promo__subtitle {
  margin: 0;
  margin-bottom: 29px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 420px;
    margin-bottom: 52px;
  }
}

.promo__img {
  display: block;

  @media (min-width: $tablet-width) {
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: -35px;
  }

  @media (min-width: $desktop-width) {
    z-index: 0;
    left: 447px;
    top: -81px;
  }
}

.promo__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 244px;
  }
}
